
footer {
    min-height: 300px;
    width: 100%;
}

footer a {
    display: block;
    margin: 10px;
    color: #b9b8b8;
}

footer a:hover {
    color: #ffffff;
    text-decoration: none;
}

footer form.footer__element input[type=submit]{
    background: inherit;
    border: 0;
    color: #b9b8b8;
    margin: 10px;
}
footer form.footer__element input[type=submit]:hover{
    color: #ffffff;
}


footer a:first-child {
    padding-top: 20px;
}