footer {
    min-height: 300px;
}

footer a {
    display: block;
    margin: 10px;
    color: #b9b8b8;
}

footer a:hover {
    color: #ffffff;
    text-decoration: none;
}


footer a:first-child {
    padding-top: 20px;
}